<div class="detail">
  <link rel="stylesheet" href="/css/style.css">
  {{#if item.image}}<img src="{{item.image}}" class="detail-thumb">{{/if}}
  <h2>{{item.title}}</h2>
  <p>{{item.description}}</p>
  <p><a href="{{waLink}}" target="_blank">Let's Talk</a> · <a href="{{cvLink}}" target="_blank">CV</a></p>
</div>
